.card__file--delete {
  cursor: pointer;
}

.dropzone {
  width: 300px;
  border: dashed 1px blue;
}

.width-250 {
  width: 250px;
}

.ck-editor__editable {
  min-height: 150px;
}

textarea {
  min-height: 150px;
}

.datatable {
  width: 100% !important;
}

.dataTables_length {
  margin-bottom: 0.333em;
  margin-top: 0.2rem;
}

.dataTables_filter {
  margin-bottom: 0.333em;
  margin-top: 0.2rem;
  margin-right: 0.2rem;
}

.dt-buttons {
  margin-bottom: 0.333em;
  margin-top: 0.2rem;
}

.dt-buttons .btn {
  margin-left: 0.333em;
  border-radius: 0;
}

.table.datatable {
  box-sizing: border-box;
  border-collapse: collapse;
}

table.dataTable thead th {
  border-bottom: 2px solid #c8ced3;
}

table.dataTable thead .sorting {
  background-image: none;
}

table.dataTable thead .sorting_asc {
  background-image: none;
}

table.dataTable thead .sorting_desc {
  background-image: none;
}

.dataTables_wrapper.no-footer .dataTables_scrollBody {
  border-bottom: 1px solid #c8ced3;
}

.select2 {
  max-width: 100%;
  width: 100% !important;
}

.select2-selection__rendered {
  padding-bottom: 5px !important;
}

.has-error .invalid-feedback {
  display: block !important;
}

.btn-info {
  color: white;
}

.badge-info {
  color: white;
}

.sidebar .nav-item {
  cursor: pointer;
}

.btn-default {
  color: #23282c;
  background-color: #f0f3f5;
  border-color: #f0f3f5;
}

.btn-default:focus {
  box-shadow: 0 0 0 0.2rem rgba(209, 213, 215, 0.5);
}

.btn-default:hover {
  color: #23282c;
  background-color: #d9e1e6;
  border-color: #d1dbe1;
}

.btn-default.focus {
  box-shadow: 0 0 0 0.2rem rgba(209, 213, 215, 0.5);
}

.btn-group-xs > .btn {
  padding: 1px 5px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}

.btn-xs {
  padding: 1px 5px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}

.searchable-title {
  font-weight: bold;
}

.searchable-fields {
  padding-left: 5px;
}

.searchable-link {
  padding: 0 5px 0 5px;
}

.searchable-link:hover {
  cursor: pointer;
  background: #eaeaea;
}

.select2-results__option {
  padding-left: 0px;
  padding-right: 0px;
}

.form-group .required::after {
  content: " *";
  color: red;
}

.form-check.is-invalid ~ .invalid-feedback {
  display: block;
}

.c-sidebar-brand .c-sidebar-brand-full:hover {
  color: inherit;
}

.bg-approved-task {
  background-color: rgba(160, 243, 189, 0.9) !important;
  color: rgba(0, 0, 0, 0.8);
}

.card-header {
  display: flex;
  justify-content: space-between;
}

.card__delete {
  margin-top: 20px;
}

.card__delete form,
.card__delete input[type=submit] {
  display: block;
  width: 100px !important;
}

@media (max-width: 540px) {
  .card__delete form,
  .card__delete input[type=submit] {
    display: block;
    width: 100% !important;
  }
}

